*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 20px;
  text-decoration: none;
  text-align: justify;
}
header{ /*Barra de navegacion fija*/
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  width: 100%;
  height: 100%;
  padding: 10px 10%;
}

.Img_container{
  display: inline-flex;
  width: 90px;
}

.Img_1{
  cursor: pointer;
  width: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.Img_1:hover{
  transform: scale(1.2);
  color: aliceblue;
  border: solid;
}

header nav li{
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.button-lu{
  color: rgb(224, 224, 224);
}

header nav li:hover{
  transform: scale(1.2);
}

header nav li a:hover{
  color: white;
  border-radius: 10px;
  padding: 5px;
  border: solid;
}

.header-content .Button-contact{
  font-weight: 100;
  color: rgb(224, 224, 224);
  padding:  9px 25px;
  background:  black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-content .Button-contact:hover{
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.Body-container{ /*Caja del Body*/
  margin: 20px;
  margin-inline: 5%;
  border: solid;
  border-color: rgb(85, 85, 85);
  border-radius: 20px;
  color: rgb(224, 224, 224);
}

.Body-content{ /*Contenido de la caja*/
  margin: 0px/*U*/ 20px/*R->*/ 20px/*D*/ 20px/*L<-*/;
}

.Body-container .Tittle{
  font-size: 30px;
}

.Me-content{
  display: flexbox;
  width: 100%;
  height: 400px;
}

.Body-text{
  margin-top: 25px;
  float: left;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.Img_photo{
  float: right;
  width: 100%;
  max-width: 350px;
  margin-top: 25px;
  border-radius: 10px;
}

.Buttons-content{
  display: block;
}

.Body-container .Button-contact, .Body-container button{
  font-weight: 100;
  color: black;
  width: 100%;
  max-width: 135px;
  height: 30px;
  margin: 5px 5px;
  text-align: center;
  background:  white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;  
}

.Button-CV:hover{
  background-color: yellowgreen;
  color: white;
  transform: scale(1.1);
}

.Button-GitHub:hover{
  background-color: purple;
  color: white;
  transform: scale(1.1);
}

.Button-Instagram:hover{
  background-color: violet;
  color: white;
  transform: scale(1.1);
}

.Button-LinkedIn:hover{
  background-color: darkblue;
  color: white;
  transform: scale(1.1);
}

footer{
  background-color: brown;
  padding: 1rem;
  color: white;
}

footer p{
  font-size: 15px;
}

.Body-container ul{
  padding-left: 20px;
}

.Body-container li{
  font-size: 25px;
  list-style-type: circle;
}
